Exercicio-01/.idea
Exercicio-01/out
Exercicio-01/Exercicio-01.iml
Exercicio-02/.idea
Exercicio-02/out
Exercicio-02/Exercicio-02.iml
Exercicio-03/.idea
Exercicio-03/out
Exercicio-03/Exercicio-03.iml
Exercicio-04/.idea
Exercicio-04/out
Exercicio-04/Exercicio-04.iml
Exercicio-05/.idea
Exercicio-05/out
Exercicio-05/Exercicio-05.iml
Exercicio-06/.idea
Exercicio-06/out
Exercicio-06/Exercicio-06.iml
Exercicio-07/.idea
Exercicio-07/out
Exercicio-07/Exercicio-07.iml
Exercicio-08/.idea
Exercicio-08/out
Exercicio-08/Exercicio-08.iml